[submodule "RealEngine/vendor/spdlog"]
	path = RealEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "RealEngine/vendor/glfw"]
	path = RealEngine/vendor/glfw
	url = https://github.com/Zelourses/glfw
[submodule "RealEngine/vendor/imgui"]
	path = RealEngine/vendor/imgui
	url = https://github.com/Zelourses/imgui.git
