[submodule "Real/vendor/spdlog"]
	path = Real/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Real/vendor/glfw"]
	path = Real/vendor/glfw
	url = https://github.com/Zelourses/glfw
[submodule "Real/vendor/imgui"]
	path = Real/vendor/imgui
	url = https://github.com/Zelourses/imgui
[submodule "Real/vendor/glm"]
	path = Real/vendor/glm
	url = https://github.com/g-truc/glm
